<div class="signup">
    <form action="/signup" method="post">
        <label>Email:</label>
        <input class="form-control" placeholder="email" id="id_email" name="email" />
        <p class="email-error text-danger"></p>
        <label>phone:</label>
        <input type="text" class="form-control" onchange="check_phone(this)" placeholder="Phone" id="id_phone" name='phone'/>
        <p class="phone-error text-danger"></p>
        <label>Date Of Birth:</label>
        <input type="date" class="form-control" placeholder="Date of Birth" id="id_date_of_birth" name="dob" />
        </p>
        <label>Reg</label>
        <input type="text" class="form-control" id="id_address" placeholder="Address" name="reg" />
    <label>First Name</label>
    <input type="text" class="form-control" id="id_first_name" placeholder="FirstName" name='fname'/>
    <label>Last Name</label>
    <input type="text" class="form-control" id="id_last_name" placeholder="last_name" name="lname" />
    <label>Full Name</label>
    <input type="text" class="form-control" id="id_full_name" placeholder="full_name" name="flname" />
    <label>Address</label>
    <input type="text" class="form-control" id="id_address" placeholder="Address" name="ad" />
    <!-- <div class="data d-flex">
        <label>Data Entry User</label>
        <div>
            <input class="form-check-input ml-3" type="checkbox" name="data_entry_user" id="id_data_entry_user" name="usert" />
        </div>
    </div> -->
    <input type="text" class="form-control" name="std">
    <button id="signup-btn">Register</button>
    </form>
</div>